.main {
    position: fixed;
}

.menu {
    background-color: #333333;
    color: white;
    position: relative;
    display: flex;
    right: 10px;
    bottom: 20px;
    padding-left: 10px;
    padding-right: 100%;
}

.navbar {
    background-color: #222222;
    color: white;
    position: relative;
    display: flex;
    right: 10px;
    bottom: 20px;
}

#nav {
    position: absolute;
    z-index: 1;
    float: right;
    top: 25px;
    right: 10px;
}

a {
    color: white;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.content {
    z-index: -1;
    position: relative;
    /*top: 115px;*/
}

li {
    list-style-type: none;
}
